In [1]:
# https://grouplens.org/datasets/movielens/

In [1]:
import pandas as pd
import numpy as np

In [2]:
datapath1="./ml-latest-small/ratings.csv"
data1=pd.read_csv(datapath1)
datapath2="./ml-latest-small/movies.csv"
data2=pd.read_csv(datapath2)

In [3]:
print(data1.info())
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
None

## 对类别One-Hot
值 "Action|Crime|Horror|Mystery|Thriller"

In [4]:
genres=data2["genres"]
cat_dict={}
cat_df=data2[["movieId"]]
for i in range(data2.shape[0]):
    catogories=genres.iloc[i].lower().split("|")
    for cat in catogories:
        if cat not in cat_dict:
            cat_dict.setdefault(cat,len(cat_dict))
            new_cat=pd.Series(np.zeros((data2.shape[0],),dtype=np.int8),name=cat)
            cat_df=pd.concat([cat_df,new_cat],axis=1)
    cat_df.loc[i,catogories]=1

In [5]:
cat_df.sum(axis=0)

movieId               411115845
adventure                  1263
animation                   611
children                    664
comedy                     3756
fantasy                     779
romance                    1596
drama                      4361
action                     1828
crime                      1199
thriller                   1894
horror                      978
mystery                     573
sci-fi                      980
war                         382
musical                     334
documentary                 440
imax                        158
western                     167
film-noir                    87
(no genres listed)           34
dtype: int64

## user和movies one-hot
不理解，为什么要one-hot

In [6]:
one_hot_user = pd.get_dummies(data1["userId"].values,prefix="user")
one_hot_mov = pd.get_dummies(data1["movieId"].values,prefix="mov")

## 合并类别one-hot数据

In [7]:
data=data1.join(one_hot_user).join(one_hot_mov)
data=pd.merge(data,cat_df,on="movieId",how="left")
data=data.drop(columns=["userId","movieId","timestamp"])
data

,rating,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9,...,horror,mystery,sci-fi,war,musical,documentary,imax,western,film-noir,(no genres listed)
0,4.0,True,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
1,4.0,True,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,4.0,True,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
3,5.0,True,False,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
4,5.0,True,False,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,4.0,False,False,False,False,False,False,False,False,False,...,1,0,0,0,0,0,0,0,0,0
100832,5.0,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
100833,5.0,False,False,False,False,False,False,False,False,False,...,1,0,0,0,0,0,0,0,0,0
100834,5.0,False,False,False,False,False,False,False,False,False,...,0,0,1,0,0,0,0,0,0,0
100835,3.0,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0

In [10]:
from FM import FM
model=FM(10000,100)
X=torch.randn((1000,10000))
tmp=model(X)

In [1]:
sorted([1,2,3])

[1, 2, 3]